# ROS 2 / colcon
/build/
/install/
/log/
/.colcon/

# CMake
CMakeCache.txt
CMakeFiles/
cmake-build-*/
compile_commands.json

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
.DS_Store
